.page-enter-active,.page-leave-active{
    transition: opacity 0.5s;
    transition-timing-function: linear;
}
.page-enter,.page-leave-active{
    opacity: 0;
}
.box_shadow{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .scrolltoTop {
    position: fixed;
    right:20px;
    bottom:50px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    background-color: #007bff;
    color: white;
    border-radius: 52px;
    cursor: pointer;
    text-align: center;
    z-index: 500;
  }
  
  .social_med div{
    padding: 9px  5px;
  }
  /*日曆的CSS*/
  
  .day_box{
    height: 60px;
    width: auto;
  }
  
  .vc-day{
      border-bottom: 1px dashed #d9efff;
      border-right: 1px dashed #d9efff;
      font-size: 6px;
  }
  .social_med{
    display: block;
    position: fixed;
    width: 52px;
    height: 150px;
    background-color: #c2dfff;
    border-radius: 20px;
    text-align: center;
    right:20px;
    bottom:120px;
    z-index: 500;
    }
  @media screen and (max-width: 480px) {
   .social_med{
    display: none!important;
    }
    .day_box div{
    margin:0;
    }
    /*測試中*/
    div.social_med,div.social_med div  {
      display: none!important;
    }
  }
  @media screen and (min-width:1024px){
    .day_box div{
    margin:5px;
    }
    
  }